@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Serif+Display&family=Syncopate:wght@700&display=swap')

$background: #242826
$subtle: #6b777a
// $foreground: #f6f7f5
$foreground: white
$accent-lightest: #ffafe0
$accent-light: #f78cac
$accent-mid: #ffa640
$accent-dark: #ff724f
$accent-darkest: #334f5f

$breakpoint-mobile: 800px

html
    justify-content: center

body
    max-width: 1000px
    margin: 0 auto
    padding: 0 4em
    font-family: 'DM Mono', monospace
    background-color: $background
    color: $foreground
    font-size: 1.2em
    height: 100vh
    text-align: justify
    text-justify: auto
    @media screen and (max-width: $breakpoint-mobile)
        margin: 0 auto
        padding: 0 1rem
        font-size: 18px
        text-align: left
        line-height: 1.5

        p
            margin: 2rem auto

    header
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0
        padding-top: 2.5rem
        height: 250px
        @media screen and (max-width: $breakpoint-mobile)
            padding-top: 1em

        h1
            padding-bottom: 5px
            margin: 0 auto
            font-family: 'DM Serif Display', serif
            text-align: center
            shape-outside: circle(50% at center)

        nav
            font-size: Min(1em, 4vw)
            display: flex
            align-items: center
            padding: 1rem 0
            justify-content: center
            width: 100%
            @media screen and (max-width: 800px)
                max-width: 500px
                width: 100%
                flex-direction: column
                font-size: 1rem

            ul
                display: flex
                flex-wrap: wrap
                list-style-type: none
                padding-left: 0
                margin: 0 5px
                @media screen and (max-width: $breakpoint-mobile)
                    font-size: 20px
                    width: 80%
                &.left
                    justify-content: flex-start
                &.right
                    justify-content: flex-end

                li
                    padding-left: 0.5em

                    &:first-of-type
                        padding-left: 0

    main
        min-height: calc(85vh - 250px)
        display: flex
        justify-content: center

        article
            width: 100%

        div#introduction
            margin-top: 2.5rem

        .title
            text-align: center

        #name
            display: block
            padding-bottom: 1rem
            font-family: 'DM Serif Display', sans-serif
            font-size: Min(5rem, 10vw)
            letter-spacing: 3px
            color: $accent-light
            text-shadow: 2px 2px 0 $foreground

        fieldset
            margin: 2rem auto

            &.semester
                *>summary
                    font-size: 1rem
                    max-width: 80vw
                    padding-left: 1rem
                    position: relative

                    &::marker
                        content: none

                    &::before
                        content: "▶"
                        font-size: 20px
                        position: absolute
                        top: -5px
                        left: -3px

    a
        color: $accent-dark

        &:hover
            color: $accent-mid
    div

        &.left-justify
            justify-content: left
            justify-items: left
        &#separator
            text-align: center

        &.role-container
            margin-top: 1rem
            display: block
            align-content: center
            justify-content: space-between

        &.role-selector
            flex: 1
            display: flex
            flex-direction: row
            justify-content: space-between
            padding: 1rem 0

        // @media screen and (min-width: $breakpoint-mobile)
        //     display: inline

        // @media screen and (max-width: $breakpoint-mobile)
        //     display: flex
        //     flex-direction: column

    span
        &.subtle
            color: $subtle
        &.arrow
            cursor: pointer
            display: flex
            align-items: center
            border: 1px solid white
            border-radius: 10px
            padding: 0.5em 1em
            margin: 0.5em 1em 0.5em 0
            user-select: none
            transition: background-color 0.1s ease-in-out
            transition: transform 0.05s ease-in-out

            &:hover, &.hover
                background-color: $accent-dark

            &:active
                transform: scale(0.92)
                background-color: $accent-mid !important

        &#left-arrow
            text-align: left
            margin-left: 0

            @media screen and (max-width: $breakpoint-mobile)
                margin: 1em 1em 1em 0

        &#right-arrow
            text-align: right
            margin-right: 0

            @media screen and (max-width: $breakpoint-mobile)
                margin: 1em 0 1em 1em
                margin-right: 0

        &#role
            flex: auto
            display: flex
            text-align: center
            justify-content: center
            align-items: center
            // font-size: 1.5em
            // font-size: calc(20px + 1vw)
            @media screen and (max-width: $breakpoint-mobile)
                height: 15vh

        // @media screen and (min-width: $breakpoint-mobile)
        &#im-a
            display: flex
            text-align: left
            justify-content: left

        &#kcmo
            text-align: right
            display: flex
            justify-content: right

    fieldset
        width: 90%
        max-width: 1000px
        margin: 0 auto
        legend
            font-size: 1.2rem

        &.idea
            padding: 0 2rem
            max-width: 80%
            box-shadow: 8px 8px 0 #ffcb9b
            border-color: #d9c4ff
            transition: all 0.15s ease-in-out

            &:hover
                box-shadow: -8px -8px 0 $accent-mid

            > legend
                text-shadow: 2px 2px 1px black
                padding: 5px
                font-weight: bold
                font-size: 1.5rem
                font-style: italic

            > p
                margin-top: 0

    details
        width: 100%
        font-size: 1rem
        text-align: left
        overflow: scroll
        white-space: nowrap

        > p
            white-space: normal

        summary
            font-size: 1rem
            max-width: 80vw
            &:hover
                cursor: pointer
                background-color: $accent-lightest
                color: black
                transition: all 0.3s ease-in-out
            span.course-container
                display: inline-grid
                width: 90%
                // grid-template-columns: 22% 68% 15%
                grid-template-columns: 20% 70% 15%
                grid-auto-flow: column

                span
                    &.id
                        grid-column: 1
                    &.name
                        grid-column: 2

                    &.grade
                        grid-column: 3
                        text-align: right

                @media screen and (max-width: 800px)
                    grid-template-columns: 85% 15%

                    span
                        &.name
                            grid-column: 1
                            text-overflow: ellipsis
                            overflow: scroll

                        &.grade
                            grid-column: 2
                            text-align: right
                        &.id
                            display: none

        div.course-description
            white-space: normal
            text-align: justify
            border-left: 2px solid $accent-light
            margin: 10px 1.5rem
            padding-left: 1rem

            @media screen and (max-width: 800px)
                font-size: 1em
                text-align: left
                margin-right: 0
                margin-left: 5px

    footer
        height: 10vh
        flex-direction: column
        display: flex
        justify-content: center
        align-content: center
        font-size: 0.8em
        text-align: center

div.headshot-container
    width: 100%
    display: flex
    align-items: center
    justify-content: center

img
    max-width: 100%
    &#headshot
        width: 250px
        border-radius: 50%

    &#headshot-small
        width: 150px
        margin-top: 1em
        border-radius: 50%
        @media screen and (max-width: 800px)
            margin-top: 0
            width: 100px
.highlight
    color: $accent-lightest

.course-highlight
    color: $accent-lightest

iframe
    &#ironmarch
        width: 100%
        height: 400px
    &#resume
        display: flex
        width: 80%
        height: 500px
        margin: 0 auto

div.skills
    width: 100%
    display: flex
    flex-direction: column

    fieldset
        display: flex
        min-height: 10vh
        flex-direction: column
        align-self: flex-start
        margin: 1rem
        width: 80%
        box-shadow: -8px -8px 0 $accent-darkest
        border-color: #d9c4ff
        transition: box-shadow 0.2s ease-in-out

        &:hover
            box-shadow: 8px 8px 0 $accent-mid

        > legend
            text-shadow: 2px 2px 1px black // differentiate from light bg
            font-weight: bold
            font-size: 1.5rem

        > details
            font-size: 18px

            > div.skill-description
                white-space: normal
                text-align: left
                margin: 0 0 2rem 0
                padding: 1px 0 1px 1rem
                border-left: 2px solid $accent-light

                @media screen and (max-width: $breakpoint-mobile)
                    font-size: 16px

                > p
                    margin: 0.5rem 0
                    &:not(:last-child)
                        margin-bottom: 1.5rem

            &:last-child
                >div.skill-description
                    margin-bottom: 0

            > summary
                position: relative
                font-size: 20px
                padding: 5px 1.5em
                white-space: normal

                &::marker
                    content: none
                &::before
                    position: absolute
                    top: 6px
                    content: "▶"
                    margin: 0 -1.5em
                    font-size: 16px
                    transform: rotate(0)
                    transform-origin: center
                    transition: transform 0.3s ease-in-out

            &[open]>summary
                border-left: 2px solid $accent-light
                box-shadow: inset -5px 0 0 $accent-mid
                transition: background-color 0.3s ease-in-out

                &:not(:hover)
                    background-color: rgba($accent-darkest, 0.5)
                    transition: background-color 0.3s ease-in-out

                &::before
                    transform: rotate(90deg)

    >fieldset:nth-child(even)
        align-self: flex-end
        box-shadow: 8px 8px 0 $accent-dark

        &:hover
            box-shadow: -8px -8px 0 $accent-mid !important

        > details
            text-align: right

            > div.skill-description
                text-align: right
                padding-left: 0
                padding-right: 1rem
                border-left: none
                border-right: 2px solid $accent-light

                @media screen and (max-width: $breakpoint-mobile)
                    text-align: right

            > summary
                position: relative
                padding-right: 1.5em

                &::marker
                    content: none
                &::before
                    content: none
                &::after
                    position: absolute
                    top: 6px
                    margin: 0 0.5em
                    font-size: 16px

                    content: "◀"
                    transform: rotate(0)
                    transform-origin: center
                    transition: all 0.3s ease-in-out

            &[open]
                &>summary
                    border-right: 2px solid $accent-light
                    box-shadow: inset 5px 0 0 $accent-mid
                &>summary::after
                    transform: rotate(-90deg)

@keyframes details-show
    from
        opacity: 0
        transform: var(--details-translate, translateY(-0.5em))

details[open]
    > *:not(summary)
        animation: details-show 0.5s ease-in-out

details
    > summary::-webkit-details-marker
        display: none
        content: none
