<details>

    <summary {% if hl %} class="course-highlight" {% endif %}>
        <span class="course-container">
            <span class="id">{{id}}</span>
            <span class="name">{% if hl %}⭐ {% endif %}{{name}}</span>
            <span class="grade">{{grade}}</span>
        </span>
    </summary>
    <div class="course-description">
        {{ body }}
    </div>
</details>