<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
    <title>Reece McMillin</title>
</head>

<body>
    <header>
        <h1>Reece McMillin</h1>
        <div class="headshot-container">
            <a href="{{ get_url(path='/') }}"><img src="{{ get_url(path='headshot-square.jpg') }}"
                    id="headshot-small" /></a>
        </div>
        <nav>
            <ul class="left">
                {# <li><a href="{{ get_url(path='/') }}">home</a></li> #}
                <li><a href="{{ get_url(path='about') }}">about</a></li>
                <li><a href="{{ get_url(path='blog') }}">blog</a></li>
                <li><a href="{{ get_url(path='education') }}">education</a></li>
            </ul>
            {# <li><a href="{{ get_url(path='music') }}">music</a></li> #}
            {# <li><a href="{{ get_url(path='notes') }}">notes</a></li> #}
            <ul class="right">
                <li><a href="{{ get_url(path='work') }}">work</a></li>
                <li><a href="{{ get_url(path='projects') }}">projects</a></li>
                <li><a href="{{ get_url(path='skills') }}">skills</a></li>
            </ul>

        </nav>
    </header>
    <main>
        <article class="content">
            {% block content %} {% endblock %}
        </article>
    </main>
    <footer>
        <p>reece mcmillin, made with ♥ using <a href="https://www.getzola.org/">zola</a><br>
            ~ <a href="mailto:reecemcmillin@gmail.com">send me a message</a> ~
        </p>
    </footer>

</body>

</html>