{% extends "base.html" %}

{% block content %}

<div id="introduction">

    Hi, my name is <div id="name">Reece McMillin.</div>
    <div class="role-container">
        <span id="im-a">I'm a</span>
        <div class="role-selector">
            <span class="arrow" id="left-arrow" onclick="changeRole('left')">
                < </span>
                    <span id="role"></span><span class="arrow" id="right-arrow" onclick="changeRole('right')">></span>
        </div><span id="kcmo">in and around Kansas City, Missouri.</span>
    </div>
</div>

<script src="{{ get_url(path='role.js') }}"></script>

{% endblock content %}